/**
*
* {{ properCase name }}
*
*/
import React from 'react';
import classnames from 'classnames';

class {{ properCase name }} extends React.Component {
    render() {
        const classes = classnames('');
        return (
            <div className={classes}>

            </div>
        );
    }
}

{{ properCase name }}.propTypes = {};
{{ properCase name }}.defaultProps = {};

export default {{ properCase name }};
