/**
*
* {{ properCase name }}
*
*/
import React from 'react';
import classnames from 'classnames';

const {{ properCase name }} = (props) => {
    const classes = classnames();

    return (
        <div className={classes}>

        </div>
    );
};

{{ properCase name }}.propTypes = {};
{{ properCase name }}.defaultProps = {};

export default {{ properCase name }};
